body {
    font-family: Courier;
    background-color: #efefef;
}

header {
    text-align: center;
    color: darkcyan;
    font-size: 40px;
    font-weight: 700;
}

a:link { /* unvisited link */
  color: blue;
}
a:visited { /* visited link */
  color: blue;
} 
a:hover { /* moused over link */
  color: cadetblue;
}  